.nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.menuContainer {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.menu {
  margin-right: 3rem;
  color: white;
}

.active {
  padding: 0.3rem 0;
  border-bottom: 5px solid rgb(92, 46, 202);
  color: rgb(92, 46, 202);
}

.non-active {
  color: rgb(120, 95, 178);
}
